[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "NetworkingLibrary"]
	path = NetworkingLibrary
	url = https://github.com/JacobBorden/NetworkingLibrary
[submodule "dependencies/my_networking_lib"]
	path = dependencies/my_networking_lib
	url = https://github.com/JacobBorden/NetworkingLibrary
